$sizes: (large 1rem 3.125rem, normal 0.75rem 2.375rem, small 0.5rem 1.625rem);

.form {
  &__control {
    margin-bottom: 1rem;
    position: relative;
    transition: all 0.2s;
    width: auto;

    label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    @each $key, $size, $width in $sizes {
      &__#{$key} {
        font-size: $size + 0.25rem;

        .textarea {
          min-height: calc(#{$size} * 6 + 1rem);
        }

        .input,
        .select,
        .textarea {
          @include radius(toFixed($size / 3));
          font-size: $size + 0.25rem;
          height: calc(#{$size + 0.25rem} * 2.5);
          padding: calc(#{$size} / 2) $size;
        }

        & ~ button {
          border-bottom-right-radius: toFixed($size / 3) !important;
          border-top-right-radius: toFixed($size / 3) !important;
          font-size: calc(#{$size + 0.25rem} - 2px);
          padding: calc(#{$size} / 2) $size;
        }
      }
    }
  }
}
