$sizes: (large 1rem 3.125rem, normal 0.75rem 2.375rem, small 0.5rem 1.625rem);
$validation: (
  valid: map-get($colors, success),
  invalid: map-get($colors, danger),
);

.form {
  &__control {
    margin-bottom: 1rem;
    position: relative;
    transition: all 0.2s;
    width: auto;

    label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    &:focus {
      color: map-get($colors, dark);
      outline: 0;
      transition: 0.2s;

      & ~ .input__bd {
        transition: width 0.4s;
        width: 100%;
      }

      &.password ~ .input__bd {
        transition: width 0.4s;
        width: calc(100% - 38px);
      }
    }

    @each $key, $size, $width in $sizes {
      &__#{$key} {
        font-size: $size + 0.25rem;

        input,
        select {
          font-size: $size + 0.25rem;
          height: calc(#{$size + 0.25rem} * 2.5);
          padding: calc(#{$size} / 2) $size;

          @each $key, $valid in $validation {
            &.#{$key},
            &.password.#{$key} {
              border-color: $valid;

              &:focus {
                box-shadow: 0 0 0 3px lighten($valid, 40);
              }
            }
          }
        }

        &.password:focus ~ .input__bd {
          transition: width 0.4s;
          width: calc(100% - #{$width});
        }

        & ~ button {
          font-size: calc(#{$size + 0.25rem} - 2px);
          padding: calc(#{$size} / 2) $size;
        }
      }
    }
  }
}
