$validation: (
  valid: map-get($colors, success),
  invalid: map-get($colors, danger),
);

.check {
  &__inline {
    align-items: center;
    display: inline-flex;
    margin-right: 0.75rem;
    position: relative;
    margin-bottom: 0.125rem;
  }

  &__input {
    appearance: none;
    border: 1px solid #bfbfbf;
    height: 1rem;
    margin-left: 0;
    margin-right: 0.5rem;
    margin-top: 0;
    outline: none;
    position: static;
    transition: background-color 0.3s;
    width: 1rem;

    &:checked {
      background: #999;
      border-color: #999;
    }

    &[type="radio"] {
      border-radius: 50%;
    }

    &[type="checkbox"] {
      border-radius: 4px;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 0;
  }
}

@each $key, $valid in $validation {
  .#{$key}__text {
    color: $valid;
    font-size: 0.85rem;
    font-weight: 600;
    width: 100%;
  }

  .check__input.#{$key} {
    border-color: $valid !important;

    & ~ .check__label {
      color: $valid;
    }

    &:checked {
      background: lighten($valid, 10) !important;
    }

    &:focus {
      box-shadow: 0 0 0 3px lighten($valid, 40);
    }
  }
}
