.check {
  &__inline {
    align-items: center;
    display: inline-block;
    margin-right: 0.75rem;
    margin-bottom: 0.125rem;
    min-height: 1rem;
    position: relative;
  }

  &__input {
    appearance: none;
    border: 1px solid #bfbfbf;
    height: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    outline: none;
    transition: background-color 0.3s;
    vertical-align: top;
    width: 1rem;

    &:checked {
      background: #999;
      border-color: #999;
    }

    &:focus {
      box-shadow: 0 0 0 3px lighten(#555, 40);
      color: map-get($colors, dark);
      outline: 0;
      transition: 0.2s;
    }

    &[type="radio"] {
      @include radius(50%);
    }

    &[type="checkbox"] {
      @include radius(4px);
    }
  }

  &__label {
    display: inline;
    margin-bottom: 0;
  }
}

@each $key, $valid in $validation {
  .check__input.#{$key} {
    & ~ .check__label {
      color: $valid;
    }

    &:checked {
      background: lighten($valid, 10) !important;
    }

    &:focus {
      box-shadow: 0 0 0 3px lighten($valid, 40);
    }
  }
}
