$sizes: (large 1rem 3.125rem, normal 0.75rem 2.375rem, small 0.5rem 1.625rem);

.select {
  @extend %input;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  height: 2.5rem;

  &[multiple],
  &[size]:not([size="1"]) {
    background-image: none;
    height: auto;
    padding-right: 2rem;

    option {
      background: #f9f9f9;
    }
  }

  @each $key, $size, $width in $sizes {
    &__#{$key} {
      font-size: $size + 0.25rem;
      height: calc(#{$size + 0.25rem} * 2.5);
      padding: calc(#{$size} / 2) $size;
    }
  }
}
