$sizes: (
  large: 1rem,
  normal: 0.75rem,
  small: 0.5rem,
);

.textarea {
  @extend %input;
  min-height: 5.5rem;
  resize: vertical;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, min-height 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

@each $key, $size in $sizes {
  .textarea__#{$key} {
    @include radius(toFixed($size / 3));
    font-size: $size + 0.25rem;
    min-height: calc(#{$size} * 6 + 1rem);
    padding: calc(#{$size} / 2) $size;
  }
}
