* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

div {
  position: relative;
}

.alert {
  position: relative;
  padding: 1.2rem;
  margin-bottom: 1px;
  border-radius: 0.5rem;
}
.alert hr {
  background-color: currentColor;
  color: inherit;
  border: 0;
  height: 1px;
  margin: 1rem 0;
  opacity: 0.25;
}
.alert__link {
  text-decoration: underline;
  font-weight: 700;
}
.alert__header {
  color: inherit;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.alert__danger {
  background: #e9a39b;
  border: 1px solid #c0392b;
  color: #6d2018;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__danger .alert__link {
  color: #6d2018;
}

.alert__navy {
  background: #78c0d5;
  border: 1px solid #2b7489;
  color: #13323b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__navy .alert__link {
  color: #13323b;
}

.alert__primary {
  background: #b2e6f5;
  border: 1px solid #2abae4;
  color: #137895;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__primary .alert__link {
  color: #137895;
}

.alert__purple {
  background: #dbc3e5;
  border: 1px solid #9b59b6;
  color: #623475;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__purple .alert__link {
  color: #623475;
}

.alert__secondary {
  background: #f7f7f7;
  border: 1px solid #aaa;
  color: #777777;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__secondary .alert__link {
  color: #777777;
}

.alert__success {
  background: #53d28c;
  border: 1px solid #1d6f42;
  color: #081e12;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__success .alert__link {
  color: #081e12;
}

.alert__warning {
  background: #fff2cc;
  border: 1px solid #fc3;
  color: #cc9900;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alert__warning .alert__link {
  color: #cc9900;
}

.btn, .input__group button {
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:disabled, .input__group button:disabled, .btn__disabled {
  opacity: 0.7;
  pointer-events: none;
}

.btn__danger {
  background: #c0392b;
  color: #fff;
  border: 0.5px solid #c0392b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__danger:hover, .btn__danger:focus {
  background: #a13024;
  border-color: #962d22;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__danger:active {
  background: #962d22;
  border-color: #8c2a1f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__navy {
  background: #2b7489;
  color: #fff;
  border: 0.5px solid #2b7489;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__navy:hover, .btn__navy:focus {
  background: #225b6c;
  border-color: #1f5362;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__navy:active {
  background: #1f5362;
  border-color: #1c4b58;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__primary {
  background: #2abae4;
  color: #fff;
  border: 0.5px solid #2abae4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__primary:hover, .btn__primary:focus {
  background: #1aa5ce;
  border-color: #199cc2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__primary:active {
  background: #199cc2;
  border-color: #1793b7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__purple {
  background: #9b59b6;
  color: #fff;
  border: 0.5px solid #9b59b6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__purple:hover, .btn__purple:focus {
  background: #8747a2;
  border-color: #804399;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__purple:active {
  background: #804399;
  border-color: #793f90;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__secondary {
  background: #aaa;
  color: #fff;
  border: 0.5px solid #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__secondary:hover, .btn__secondary:focus {
  background: #979797;
  border-color: #919191;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__secondary:active {
  background: #919191;
  border-color: #8a8a8a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__success {
  background: #1d6f42;
  color: #fff;
  border: 0.5px solid #1d6f42;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__success:hover, .btn__success:focus {
  background: #155130;
  border-color: #12472a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__success:active {
  background: #12472a;
  border-color: #103c24;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__warning {
  background: #fc3;
  color: #000;
  border: 0.5px solid #fc3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__warning:hover, .btn__warning:focus {
  background: #ffc20d;
  border-color: #ffbf00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__warning:active {
  background: #ffbf00;
  border-color: #f2b600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-danger {
  background: white;
  color: #c0392b;
  border: 0.5px solid #c0392b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-danger:hover, .btn__outline-danger:focus {
  background: #a13024;
  border-color: #962d22;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.btn__outline-danger:active {
  background: #962d22;
  border-color: #8c2a1f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-navy {
  background: white;
  color: #2b7489;
  border: 0.5px solid #2b7489;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-navy:hover, .btn__outline-navy:focus {
  background: #225b6c;
  border-color: #1f5362;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.btn__outline-navy:active {
  background: #1f5362;
  border-color: #1c4b58;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-primary {
  background: white;
  color: #2abae4;
  border: 0.5px solid #2abae4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-primary:hover, .btn__outline-primary:focus {
  background: #1aa5ce;
  border-color: #199cc2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.btn__outline-primary:active {
  background: #199cc2;
  border-color: #1793b7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-purple {
  background: white;
  color: #9b59b6;
  border: 0.5px solid #9b59b6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-purple:hover, .btn__outline-purple:focus {
  background: #8747a2;
  border-color: #804399;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.btn__outline-purple:active {
  background: #804399;
  border-color: #793f90;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-secondary {
  background: white;
  color: #aaa;
  border: 0.5px solid #aaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-secondary:hover, .btn__outline-secondary:focus {
  background: #979797;
  border-color: #919191;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.btn__outline-secondary:active {
  background: #919191;
  border-color: #8a8a8a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-success {
  background: white;
  color: #1d6f42;
  border: 0.5px solid #1d6f42;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-success:hover, .btn__outline-success:focus {
  background: #155130;
  border-color: #12472a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.btn__outline-success:active {
  background: #12472a;
  border-color: #103c24;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__outline-warning {
  background: white;
  color: #fc3;
  border: 0.5px solid #fc3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn__outline-warning:hover, .btn__outline-warning:focus {
  background: #ffc20d;
  border-color: #ffbf00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #000;
}
.btn__outline-warning:active {
  background: #ffbf00;
  border-color: #f2b600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__large {
  font-size: calc(1rem + 2px);
  padding: calc(1rem - 2px) calc(1rem + 2px);
}

.btn__medium {
  font-size: calc(0.875rem + 2px);
  padding: calc(0.875rem - 2px) calc(0.875rem + 2px);
}

.btn__small {
  font-size: calc(0.75rem + 2px);
  padding: calc(0.75rem - 2px) calc(0.75rem + 2px);
}

.card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.card__img {
  border-radius: calc(0.3rem - 1px) calc(0.3rem - 1px) 0 0;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.card__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}
.card__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.card__subtitle {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-top: -0.25rem;
}
.card__text {
  margin-bottom: 1rem;
}
.card__text:last-child {
  margin-bottom: 0;
}
.card__header {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: calc(0.3rem - 1px) calc(0.3rem - 1px) 0 0;
  margin-bottom: 0;
  padding: 1rem;
}
.card__footer {
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 calc(0.3rem - 1px) calc(0.3rem - 1px);
  padding: 0.5rem 1rem;
}
.card__link {
  color: #2abae4;
  text-decoration: underline;
}
.card__link + .card__link {
  margin-left: 1rem;
}

.floating {
  background: #f1f1f1;
  border: 1.5px solid #f1f1f1;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.floating__large {
  height: 5rem;
}
.floating__large > input {
  height: auto !important;
}
.floating__large > input:not(:-moz-placeholder-shown) {
  padding-top: calc(5rem / 2) !important;
}
.floating__large > input:not(:-ms-input-placeholder) {
  padding-top: calc(5rem / 2) !important;
}
.floating__large > input:focus, .floating__large > input:not(:placeholder-shown) {
  padding-top: calc(5rem / 2) !important;
}
.floating__large > input:not(:-moz-placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-1.25rem) translateX(0.2rem) !important;
}
.floating__large > input:not(:-ms-input-placeholder) ~ label {
  -ms-transform: scale(0.85) translateY(-1.25rem) translateX(0.2rem) !important;
      transform: scale(0.85) translateY(-1.25rem) translateX(0.2rem) !important;
}
.floating__large > input:focus ~ label, .floating__large > input:not(:placeholder-shown) ~ label {
  -webkit-transform: scale(0.85) translateY(-1.25rem) translateX(0.2rem) !important;
      -ms-transform: scale(0.85) translateY(-1.25rem) translateX(0.2rem) !important;
          transform: scale(0.85) translateY(-1.25rem) translateX(0.2rem) !important;
}
.floating__large > label {
  font-size: 1.25rem !important;
  padding: 1.55rem calc(1.55rem - 0.25rem) !important;
}
.floating__normal {
  height: 4rem;
}
.floating__normal > input {
  height: auto !important;
}
.floating__normal > input:not(:-moz-placeholder-shown) {
  padding-top: calc(4rem / 2) !important;
}
.floating__normal > input:not(:-ms-input-placeholder) {
  padding-top: calc(4rem / 2) !important;
}
.floating__normal > input:focus, .floating__normal > input:not(:placeholder-shown) {
  padding-top: calc(4rem / 2) !important;
}
.floating__normal > input:not(:-moz-placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-1rem) translateX(0.2rem) !important;
}
.floating__normal > input:not(:-ms-input-placeholder) ~ label {
  -ms-transform: scale(0.85) translateY(-1rem) translateX(0.2rem) !important;
      transform: scale(0.85) translateY(-1rem) translateX(0.2rem) !important;
}
.floating__normal > input:focus ~ label, .floating__normal > input:not(:placeholder-shown) ~ label {
  -webkit-transform: scale(0.85) translateY(-1rem) translateX(0.2rem) !important;
      -ms-transform: scale(0.85) translateY(-1rem) translateX(0.2rem) !important;
          transform: scale(0.85) translateY(-1rem) translateX(0.2rem) !important;
}
.floating__normal > label {
  font-size: 1rem !important;
  padding: 1.25rem calc(1.25rem - 0.25rem) !important;
}
.floating__small {
  height: 3rem;
}
.floating__small > input {
  height: auto !important;
}
.floating__small > input:not(:-moz-placeholder-shown) {
  padding-top: calc(3rem / 2) !important;
}
.floating__small > input:not(:-ms-input-placeholder) {
  padding-top: calc(3rem / 2) !important;
}
.floating__small > input:focus, .floating__small > input:not(:placeholder-shown) {
  padding-top: calc(3rem / 2) !important;
}
.floating__small > input:not(:-moz-placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-0.75rem) translateX(0.2rem) !important;
}
.floating__small > input:not(:-ms-input-placeholder) ~ label {
  -ms-transform: scale(0.85) translateY(-0.75rem) translateX(0.2rem) !important;
      transform: scale(0.85) translateY(-0.75rem) translateX(0.2rem) !important;
}
.floating__small > input:focus ~ label, .floating__small > input:not(:placeholder-shown) ~ label {
  -webkit-transform: scale(0.85) translateY(-0.75rem) translateX(0.2rem) !important;
      -ms-transform: scale(0.85) translateY(-0.75rem) translateX(0.2rem) !important;
          transform: scale(0.85) translateY(-0.75rem) translateX(0.2rem) !important;
}
.floating__small > label {
  font-size: 0.75rem !important;
  padding: 0.95rem calc(0.95rem - 0.25rem) !important;
}
.floating input::-webkit-input-placeholder {
  opacity: 0;
}
.floating input::-moz-placeholder {
  opacity: 0;
}
.floating input:-ms-input-placeholder {
  opacity: 0;
}
.floating input::-ms-input-placeholder {
  opacity: 0;
}
.floating input::placeholder {
  opacity: 0;
}
.floating input:not(:-moz-placeholder-shown) {
  padding-top: 1.5rem;
}
.floating input:not(:-ms-input-placeholder) {
  padding-top: 1.5rem;
}
.floating input:focus, .floating input:not(:placeholder-shown) {
  padding-top: 1.5rem;
}
.floating input:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.85;
  transform: scale(0.85) translateY(-1rem) translateX(0.2rem);
}
.floating input:not(:-ms-input-placeholder) ~ label {
  opacity: 0.85;
  -ms-transform: scale(0.85) translateY(-1rem) translateX(0.2rem);
      transform: scale(0.85) translateY(-1rem) translateX(0.2rem);
}
.floating input:focus ~ label, .floating input:not(:placeholder-shown) ~ label {
  opacity: 0.85;
  -webkit-transform: scale(0.85) translateY(-1rem) translateX(0.2rem);
      -ms-transform: scale(0.85) translateY(-1rem) translateX(0.2rem);
          transform: scale(0.85) translateY(-1rem) translateX(0.2rem);
}
.floating > label {
  font-size: 1rem;
  padding: 1.25rem 1rem;
  pointer-events: none;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.floating.valid {
  border-color: #1d6f42;
}
.floating.valid input:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
  border: 1.5px solid #1d6f42;
}

.floating.invalid {
  border-color: #c0392b;
}
.floating.invalid input:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
  border: 1.5px solid #c0392b;
}

.form__control {
  margin-bottom: 1rem;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: auto;
}
.form__control label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form__control:focus {
  color: #212529;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form__control:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: 100%;
}
.form__control:focus.password ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 38px);
}
.form__control__large {
  font-size: 1.25rem;
}
.form__control__large input,
.form__control__large select {
  font-size: 1.25rem;
  height: calc(1.25rem * 2.5);
  padding: calc(1rem / 2) 1rem;
}
.form__control__large input.valid, .form__control__large input.password.valid,
.form__control__large select.valid,
.form__control__large select.password.valid {
  border-color: #1d6f42;
}
.form__control__large input.valid:focus, .form__control__large input.password.valid:focus,
.form__control__large select.valid:focus,
.form__control__large select.password.valid:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
}
.form__control__large input.invalid, .form__control__large input.password.invalid,
.form__control__large select.invalid,
.form__control__large select.password.invalid {
  border-color: #c0392b;
}
.form__control__large input.invalid:focus, .form__control__large input.password.invalid:focus,
.form__control__large select.invalid:focus,
.form__control__large select.password.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
}
.form__control__large.password:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 3.125rem);
}
.form__control__large ~ button {
  font-size: calc(1.25rem - 2px);
  padding: calc(1rem / 2) 1rem;
}
.form__control__normal {
  font-size: 1rem;
}
.form__control__normal input,
.form__control__normal select {
  font-size: 1rem;
  height: calc(1rem * 2.5);
  padding: calc(0.75rem / 2) 0.75rem;
}
.form__control__normal input.valid, .form__control__normal input.password.valid,
.form__control__normal select.valid,
.form__control__normal select.password.valid {
  border-color: #1d6f42;
}
.form__control__normal input.valid:focus, .form__control__normal input.password.valid:focus,
.form__control__normal select.valid:focus,
.form__control__normal select.password.valid:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
}
.form__control__normal input.invalid, .form__control__normal input.password.invalid,
.form__control__normal select.invalid,
.form__control__normal select.password.invalid {
  border-color: #c0392b;
}
.form__control__normal input.invalid:focus, .form__control__normal input.password.invalid:focus,
.form__control__normal select.invalid:focus,
.form__control__normal select.password.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
}
.form__control__normal.password:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 2.375rem);
}
.form__control__normal ~ button {
  font-size: calc(1rem - 2px);
  padding: calc(0.75rem / 2) 0.75rem;
}
.form__control__small {
  font-size: 0.75rem;
}
.form__control__small input,
.form__control__small select {
  font-size: 0.75rem;
  height: calc(0.75rem * 2.5);
  padding: calc(0.5rem / 2) 0.5rem;
}
.form__control__small input.valid, .form__control__small input.password.valid,
.form__control__small select.valid,
.form__control__small select.password.valid {
  border-color: #1d6f42;
}
.form__control__small input.valid:focus, .form__control__small input.password.valid:focus,
.form__control__small select.valid:focus,
.form__control__small select.password.valid:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
}
.form__control__small input.invalid, .form__control__small input.password.invalid,
.form__control__small select.invalid,
.form__control__small select.password.invalid {
  border-color: #c0392b;
}
.form__control__small input.invalid:focus, .form__control__small input.password.invalid:focus,
.form__control__small select.invalid:focus,
.form__control__small select.password.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
}
.form__control__small.password:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 1.625rem);
}
.form__control__small ~ button {
  font-size: calc(0.75rem - 2px);
  padding: calc(0.5rem / 2) 0.5rem;
}

.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #f1f1f1;
  border: 1.5px solid #f1f1f1;
  border-radius: 0.25rem;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  line-height: 1.5;
  padding: calc(0.75rem / 2) 0.75rem;
  position: relative;
  -webkit-transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  width: 100%;
}
.input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input__group .input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input__group .input ~ button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0.25rem;
}
.input__group button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9ecef;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.375rem 0.75rem;
}
.input:focus {
  -webkit-box-shadow: 0 0 0 3px #bbbbbb;
          box-shadow: 0 0 0 3px #bbbbbb;
  color: #212529;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.input:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: 100%;
}
.input:focus.password ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 38px);
}
.input__bd {
  background: #2abae4;
  bottom: -1.5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: 0;
}

.input__large, .floating__large > input {
  font-size: 1.25rem;
  height: calc(1.25rem * 2.5);
  padding: calc(1rem / 2) 1rem;
}
.input__large.password:focus ~ .input__bd, .floating__large > input.password:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 3.125rem);
}
.input__large ~ button, .floating__large > input ~ button {
  font-size: calc(1.25rem - 2px);
  padding: calc(1rem / 2) 1rem;
}

.input__normal, .floating__normal > input {
  font-size: 1rem;
  height: calc(1rem * 2.5);
  padding: calc(0.75rem / 2) 0.75rem;
}
.input__normal.password:focus ~ .input__bd, .floating__normal > input.password:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 2.375rem);
}
.input__normal ~ button, .floating__normal > input ~ button {
  font-size: calc(1rem - 2px);
  padding: calc(0.75rem / 2) 0.75rem;
}

.input__small, .floating__small > input {
  font-size: 0.75rem;
  height: calc(0.75rem * 2.5);
  padding: calc(0.5rem / 2) 0.5rem;
}
.input__small.password:focus ~ .input__bd, .floating__small > input.password:focus ~ .input__bd {
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  width: calc(100% - 1.625rem);
}
.input__small ~ button, .floating__small > input ~ button {
  font-size: calc(0.75rem - 2px);
  padding: calc(0.5rem / 2) 0.5rem;
}

.valid__text {
  color: #1d6f42;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
}

.input.valid,
.input.password.valid {
  border-color: #1d6f42;
}
.input.valid:focus,
.input.password.valid:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
}

.invalid__text {
  color: #c0392b;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
}

.input.invalid,
.input.password.invalid {
  border-color: #c0392b;
}
.input.invalid:focus,
.input.password.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
}

.check__inline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 0.75rem;
  position: relative;
  margin-bottom: 0.125rem;
}
.check__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #bfbfbf;
  height: 1rem;
  margin-left: 0;
  margin-right: 0.5rem;
  margin-top: 0;
  outline: none;
  position: static;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 1rem;
}
.check__input:checked {
  background: #999;
  border-color: #999;
}
.check__input[type=radio] {
  border-radius: 50%;
}
.check__input[type=checkbox] {
  border-radius: 4px;
}
.check__label {
  display: inline-block;
  margin-bottom: 0;
}

.valid__text {
  color: #1d6f42;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
}

.check__input.valid {
  border-color: #1d6f42 !important;
}
.check__input.valid ~ .check__label {
  color: #1d6f42;
}
.check__input.valid:checked {
  background: #28975a !important;
}
.check__input.valid:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
}

.invalid__text {
  color: #c0392b;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
}

.check__input.invalid {
  border-color: #c0392b !important;
}
.check__input.invalid ~ .check__label {
  color: #c0392b;
}
.check__input.invalid:checked {
  background: #d65548 !important;
}
.check__input.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
}

.select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1.5px solid #f1f1f1;
  border-radius: 0.25rem;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  line-height: 1.5;
  padding: calc(0.75rem / 2) 0.75rem;
  position: relative;
  -webkit-transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  width: 100%;
}
.select[multiple], .select[size]:not([size="1"]) {
  background-image: none;
  height: auto;
  padding-right: 2rem;
}
.select[multiple] option, .select[size]:not([size="1"]) option {
  background: #f1f1f1;
}
.select:focus {
  -webkit-box-shadow: 0 0 0 3px #bbbbbb;
          box-shadow: 0 0 0 3px #bbbbbb;
  color: #212529;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.select__large {
  font-size: 1.25rem;
  height: calc(1.25rem * 2.5);
  padding: calc(1rem / 2) 1rem;
}
.select__normal {
  font-size: 1rem;
  height: calc(1rem * 2.5);
  padding: calc(0.75rem / 2) 0.75rem;
}
.select__small {
  font-size: 0.75rem;
  height: calc(0.75rem * 2.5);
  padding: calc(0.5rem / 2) 0.5rem;
}
.select.valid {
  border-color: #1d6f42;
}
.select.valid:focus {
  -webkit-box-shadow: 0 0 0 3px #7bdda7;
          box-shadow: 0 0 0 3px #7bdda7;
}
.select.invalid {
  border-color: #c0392b;
}
.select.invalid:focus {
  -webkit-box-shadow: 0 0 0 3px #f2c9c5;
          box-shadow: 0 0 0 3px #f2c9c5;
}

.switch {
  display: inline-block;
  height: 15px;
  position: relative;
  width: 50px;
}
.switch__slider {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 30px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.switch__slider::before {
  background: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 50%;
  bottom: -5px;
  content: "";
  height: 22px;
  left: -5px;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 22px;
}
.switch__check {
  height: 0;
  opacity: 0;
  width: 0;
}
.switch__check:checked + .switch__slider {
  background: #000;
  border: 1px solid #000;
}
.switch__check:checked + .switch__slider::before {
  -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
          transform: translateX(35px);
}
.switch__check:focus + .switch__slider {
  -webkit-box-shadow: 0 0 1px #000;
          box-shadow: 0 0 1px #000;
}